ConsoleApp3/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BooksCA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BooksCA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCF_Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookID" type="xs:int" />
      <xs:element minOccurs="0" name="CatID" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCF_Product" nillable="true" type="tns:WCF_Product" />
</xs:schema>